@using System.Security.Claims
@using Chat.Infrastructure.Models
@model List<Message>
@{
    ViewData["Title"] = "Chat";

    string userId = "", userName = "";

    var identity = User.Identity as ClaimsIdentity;
    if (identity != null)
    {
        var userIdClaim = identity.Claims.FirstOrDefault(f => f.Type == ClaimTypes.NameIdentifier);
        if (userIdClaim != null)
            userId = userIdClaim.Value;

        var userNameClaim = identity.Claims.FirstOrDefault(f => f.Type == ClaimTypes.Name);
        if (userNameClaim != null)
            userName = userNameClaim.Value;
    }
}
<link rel="stylesheet" href="~/css/chat.css" />
<script type="text/javascript">
    let userId = '@userId'
    let userName = '@userName';
</script>
<div class="container">

    <div class="row">
        <div class="col-12">
            <ul id="messagesList">
                @foreach (var msg in Model)
                {
                    var date =
                        msg.Date.Hour.ToString().PadLeft(2, '0') + ":" +
                        msg.Date.Minute.ToString().PadLeft(2, '0') + " - " +
                        msg.Date.Month.ToString().PadLeft(2, '0') + "/" +
                        msg.Date.Day.ToString().PadLeft(2, '0') + "/" +
                        msg.Date.Year;


                        var sent = msg.UserId == userId;
                    var divClass = sent ? "message sent" : "message received";
                    var liStyle = sent ? "text-align: -webkit-right;" : "text-align: -webkit-left;";
                    <li style="@liStyle">
                        <div class="@divClass" style="text-align: left">
                            <p style="font-weight: bold; text-align: right">@msg.Sender.UserName</p>
                            @msg.Text
                            <p style="font-size: 12px; margin-top: 7px; text-align:right">@date</p>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="text" id="userMessage" />
            <input type="button" id="btnSend" value="Send" />
        </div>
    </div>


</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/aspnet/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

